.wrapper {
  height: 100%;
  display: grid;
  place-items: center;

  .content {
    width: 16rem;

    .info {
      margin-bottom: 2rem;
      color: var(--colors-text-extra);
      line-height: 1.5;

      a {
        color: var(--colors-ui-main);
        text-decoration: underline;
        margin-left: 0.2rem;
      }
    }
  }
}