.wrapper {
	width: 100%;

	.title {
		margin-bottom: 0.5rem;
	}

	.input {
		width: 100%;
		padding: 0.8rem 0.5rem;
		border-radius: 0.5rem;

		background-color: transparent;
		color: var(--colors-text);
		border: var(--border-2);
		outline: none;

		&::placeholder {
			color: inherit;
		}

		&:focus {
			border-color: var(--colors-ui-main);
		}
	}
}