@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

//! ________________________ THEME ________________________

:root {
	--text-size-sm: 0.875rem;
	--text-size-normal: 1rem;
	--text-size-md: 1.125rem;
	--text-size-large: 1.5rem;
	--text-size-name: 1.7rem;
	--text-letter-spacing: 0.1rem;
	--text-weight-light: 300;
	--text-weight-normal: 500;
	--text-weight-md: 600;
	--text-weight-bold: 800;
	--radius: 0.8rem;
}

body[data-theme='light'] {
	--colors-ui-main: #507baa;
	--colors-ui-main-hovered: #498fda;
	--colors-ui-secondary: #e6ebff;

	--colors-bg: #f5f5f5;
	--colors-bg-extra: #ffffff;
	--colors-bg-loader: hsla(0, 0%, 100%, 0.7);
	--colors-text: #000;
	--colors-text-extra: #b1b1b1;
	--colors-item-hover: #dfdfdf;

	--shadow: hsla(210, 8%, 62%, 0.35) 0 8px 24px;
	--shadow-line-block: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, hsla(210, 8%, 62%, 0.3) 100%);
	--border: 1px solid #d2d2d2;
	--border-2: 2px solid #d2d2d2;
}

body[data-theme='dark'] {
	--colors-ui-main: #4183ca;
	--colors-ui-main-hovered: #2c8cf3;
	--colors-ui-secondary: #121212;

	--colors-bg: #1f1f1f;
	--colors-bg-extra: hsl(0, 0%, 18%);
	--colors-bg-loader: hsla(0, 0%, 18%, 0.7);
	--colors-text: #ffffff;
	--colors-text-extra: #7d7d7d;
	--colors-item-hover: #151515;

	--shadow: hsla(0, 0%, 0%, 0.4) 0 8px 24px;
	--shadow-line-block: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, hsla(0, 0%, 0%, 0.3) 100%);
	--border: 1px solid #4a4a4a;
	--border-2: 2px solid #4a4a4a;
}

// ! _______________________ COMMON _______________________

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

body {
	background-color: var(--colors-bg);
	width: 100vw;
	overflow-x: hidden;

	a {
		text-decoration: none;
		color: inherit;
	}

	.app-wrapper {
		margin: 0 auto;
		max-width: 67rem;
		padding: 6rem 1rem 1rem;
		display: grid;
		grid-template-columns: 2fr 10fr;
		grid-template-areas:
			'sidebar content';
		grid-row-gap: 1.25rem;
		grid-column-gap: 0.625rem;

		@media (max-width: 750px) {
			grid-template-columns: 2fr 10fr;
			grid-template-areas:
				'header header'
				'content content';
		}

		.content {
			grid-area: content;
			color: var(--colors-text);
			background-color: var(--colors-bg-extra);
			border-radius: var(--radius);
			min-height: calc(100vh - 7rem);
			box-shadow: var(--shadow);
			overflow-x: hidden;
			position: relative;
		}
	}

	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--colors-bg-extra);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 3.5px;
		background-color: var(--colors-ui-main);
	}
}